{% extends "baseoperatore.html" %}
{% block pagebody %}
<div class="main">

    <div class="jumbotron" style="font-size: 20; margin-left: 70px;     background-color: #eeeeee;">
        <h3 align="left" style="margin-left: -20px">Lista dei aerei:</h3> <br>
        {% with messages = get_flashed_messages(with_categories=true)%}
        {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert-{{ category }} alert-dismissible fade show">
            <strong>{{message}}</strong>
            <button type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        
        {% if aereiInfo %}
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Modello</th>
                    <th scope="col">#Prima Classe</th>
                    <th scope="col">#Seconda Classe</th>
                    <th scope="col">#Economy Classe</th>
                    <th scope="col">Capienza Totale</th>
                    <th scope="col">Elimina</th>
                </tr>
            </thead>
            <tbody>
                {% for aereo in aereiInfo %}
                <form action="/eliminaaereo" method="POST">
                    <tr>
                        <th scope="row">{{aereo[0]}}</th>
                        <td>{{aereo[1]}}</td>
                        <td>{{aereo[2]}}</td>
                        <td>{{aereo[3]}}</td>
                        <td>{{aereo[4]}}</td>
                        <td>{{aereo[2] + aereo[3] + aereo[4]}} </td>
                        <input type="hidden" name="idAereo" value="{{ aereo[0] }}">
                        <td><input type="submit" class="btn btn-danger" style="margin: -8;" autocomplete="off"
                                value="Cancella">
                    </tr>
                </form>
                {%  endfor%}
            </tbody>
        </table>
        {% else %}
        <h5>Nessun aereo nel database!</h5>
        {% endif %}
        <br>
        <hr>
        <div class="row">
            <div align="center" class="col-lg-5 ml-5">
                <h3 style="margin-left: -20px">Aggiungi un aereo</h3>
                <form method="POST">
                    <div class="form-group">
                    </div>
                    <div class="form-group">
                        <input type="text" name="modello" class="form-control" placeholder="Modello" />
                    </div>
                    <div class="form-group">
                        <input type="text" name="capienzaPrima" class="form-control" placeholder="Capienza Prima" />
                    </div>
                    <div class="form-group">
                        <input type="text" name="capienzaSeconda" class="form-control" placeholder="Capienza Seconda" />
                    </div>
                    <div class="form-group">
                        <input type="text" name="capienzaEconomy" class="form-control" placeholder="Capienza Economy" />
                    </div>
                    <div class="form-group">
                        <input type="submit" name="btn" class="btnSubmit btn-primary" value="Aggiungi" />
                    </div>
                </form>
            </div>
            <div align="center" class="col-lg-5 ml-5">
                <h3 style="margin-left: -20px">Modifica un aereo</h3>

                <form action="/modificaaereo" method="POST">
                    <div class="form-group">
                    </div>
                    <div class="form-group">
                        <select class="form-control" name="idAereo">
                            {% for aereo in aereiInfo %}
                            <option value="{{aereo[0]}}">{{aereo[0]}} - {{aereo[1]}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <input type="text" name="modello" class="form-control" placeholder="Modello" />
                    </div>
                    <div class="form-group">
                        <input type="text" name="capienzaPrima" class="form-control" placeholder="Capienza Prima" />
                    </div>
                    <div class="form-group">
                        <input type="text" name="capienzaSeconda" class="form-control" placeholder="Capienza Seconda" />
                    </div>
                    <div class="form-group">
                        <input type="text" name="capienzaEconomy" class="form-control" placeholder="Capienza Economy" />
                    </div>

                    <div class="form-group">
                        <input type="submit" name="btn" class="btnSubmit btn-primary" value="Modifica" />
                    </div>

                </form>
            </div>
        </div>
    </div>
    {% endblock %}