<html>

<head>
    <title>Compagnia Aerea</title>
    <link rel="icon" href="{{ url_for('static', filename='icon/favicon.ico') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" media="screen">
    <link href="{{ url_for('static', filename='css/prog.css') }}" rel="stylesheet" media="screen">
    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</head>
<div class="sidenav">
    <video autoplay muted loop id="myVideo" height="165" width="220">
        <source src="{{ url_for('static', filename='vid/background.mp4') }}" type="video/mp4">
    </video> <br> <br>
    <a href="/"><img src="{{ url_for('static', filename='icon/homeicon.png') }}" height="30" width="30"> HOME</a>
    <a href="/login"><img src="{{ url_for('static', filename='icon/loginicon.png') }}" height="30" width="30"> LOGIN</a>
    <a href="/signup"><img src="{{ url_for('static', filename='icon/signupicon.png') }}" height="30" width="30"> SIGN
        UP</a>
</div>
{% block pagebody %}
{% endblock %}
</body>

</html>