{% extends "baseoperatore.html" %}
{% block pagebody %}
<div class="main">
  <div class="jumbotron" style="font-size: 20; margin-left: 70px; background-color: #eeeeee;">
    {% with messages = get_flashed_messages(with_categories=true)%}
    {% if messages %}
    {% for category, message in messages %}
    <div class="alert alert-{{ category }} alert-dismissible fade show">
      <strong>{{message}}</strong>
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <h3 align="left" style="margin-left: -20px">Aggiungi un volo:</h3> <br>
    <center>
      <div class="col-md-8 login-form-2">
        <div class="row">
          <div class="col-md-6">
            <h3 style="font-size: 18;">AEROPORTO DI PARTENZA:</h3>
            <div class="form-group">
              <form method="POST">
                <select class="form-control" name="partenzaID">
                  {% for row in infoAeroporti %}
                  <option value="{{row[0]}}">{{row[1]}} - {{row[3]}}, {{row[2]}}</option>
                  {% endfor %}
                </select>
            </div>
            <h3 style="font-size: 18;">AEREO DEL VOLO:</h3>
            <div class="form-group">
              <form method="POST">
                <select class="form-control" name="aereoID">
                  {% for row in infoAerei %}
                  <option value="{{row[0]}}">{{row[1]}} ({{row[2] + row[3] + row[4]}} posti totali)</option>
                  {% endfor %}
                </select>
            </div>
            <div class="form-group">
              <h3 style="font-size: 18;">ORARIO DI PARTENZA : <label for="data"><input type="datetime-local"
                    name="datapartenza" class="form-control" value="AAAA-MM-GG" min="2000-01-01"
                    max="2030-01-01"></label></h3>
            </div>
            <h3 style="font-size: 18;">STATO:</h3>
            <div class="form-group">
              <form method="POST">
                <select class="form-control" name="stato">
                  <option value="Previsto">Previsto</option>
                  <option value="Ritardo">Ritardo</option>
                  <option value="Cancellato">Cancellato</option>
                </select>
            </div>
          </div>
          <div class="col-md-6">
            <h3 style="font-size: 18;">AEROPORTO DI ARRIVO:</h3>
            <div class="form-group">
              <form method="POST">
                <select class="form-control" name="destinazioneID">
                  {% for row in infoAeroporti %}
                  <option value="{{row[0]}}">{{row[1]}} - {{row[3]}}, {{row[2]}}</option>
                  {% endfor %}
                </select>
            </div>
            <h3 style="font-size: 18;">PREZZO BASE:</h3>
            <div class="form-group">
              <input type="text" name="prezzoBase" class="form-control" placeholder="PREZZO" />
            </div>
            <div class="form-group">
              <h3 style="font-size: 18;">ORARIO DI ARRIVO : <label for="data"><input type="datetime-local"
                    name="datarrivo" class="form-control" value="AAAA-MM-GG" min="2000-01-01" max="2030-01-01"></label>
              </h3>
            </div>
            <br>
            <div class="form-group">
              <input type="submit" style="font-size: 18;" class="btnSubmit" value="AGGIUNGI VOLO" />
            </div>
          </div>
          </form>
        </div>
      </div>
    </center>
    <br>
    <hr>
    <h3 align="left" style="margin-left: -20px">Lista dei voli:</h3>
    <br>
    <center>
      {% if voliInfo %}
      <div class="row" align="center">
        {% for volo in voliInfo%}
        {% if volo[6]=="Previsto" %}
        <div class="col-sm-5 ml-5">
          <div class="card text-white bg-primary mb-4">
            <div class="card-body">
              <h4 class="card-title">{{ volo[11] }} ({{ volo[10] }}) - {{ volo[15] }} ({{ volo[14] }})</h4>
              <h5 class="card-text">Partenza: {{ volo[4] }}</h5>
              <h5 class="card-text">Arrivo: {{ volo[5] }}</h5>
              <h5 class="card-text">[{{ volo[6] }}]</h5>
            </div>
            <div class="row"></div>
            <a align="right" href="/infovolo/{{volo[0]}}" class="text-primary btn btn-light">DETTAGLI VOLO</a>
          </div>
        </div>
        {% elif volo[6]=="Cancellato"%}
        <div class="col-sm-5 ml-5">
          <div class="card text-white bg-danger mb-4">
            <div class="card-body">
              <h4 class="card-title">{{ volo[11] }} ({{ volo[10] }}) - {{ volo[15] }} ({{ volo[14] }})</h4>
              <h5 class="card-text">Partenza: {{ volo[4] }}</h5>
              <h5 class="card-text">Arrivo: {{ volo[5] }}</h5>
              <h5 class="card-text">[{{ volo[6] }}]</h5>
            </div>
            <div class="row"></div>
            <a align="right" href="/infovolo/{{volo[0]}}" class="text-danger btn btn-light">DETTAGLI VOLO</a>
          </div>
        </div>
        {% else %}
        <div class="col-sm-5 ml-5">
          <div class="card text-white bg-warning mb-4">
            <div class="card-body">
              <h4 class="card-title">{{ volo[11] }} ({{ volo[10] }}) - {{ volo[15] }} ({{ volo[14] }})</h4>
              <h5 class="card-text">Partenza: {{ volo[4] }}</h5>
              <h5 class="card-text">Arrivo: {{ volo[5] }}</h5>
              <h5 class="card-text">[In {{ volo[6] }}]</h5>
            </div>
            <div class="row"></div>
            <a align="right" href="/infovolo/{{volo[0]}}" class="text-warning btn btn-light">DETTAGLI VOLO</a>
          </div>
        </div>
        {% endif %}
        {%endfor %}
      </div>
      {% else %}
      <h5>Nessun volo nel database al momento!</h5>
      {% endif %}
    </center>

  </div>
</div>
</div>
</body>

</html>
{% endblock %}